.img{
    width: 50px;
    padding: 5px;
    margin-left:0;
    margin-top: 40px;
}
h1{
  margin-top: 0;
    text-align: center;
    font-family: sans-serif;
}
h3{
  text-align: center;
  font-family: sans-serif;
}
.navbar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  .flex-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  #about{
    margin-right: 50px;
    margin-left: 25px;

  }